
@font-face{  
    font-family: "Kumbh Sans";
    src: url("Kumbh_Sans/KumbhSans-Light.ttf");
}
*{
    font-family: "Kumbh Sans";
}
body{
background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
background-repeat: no-repeat;    
height:650px;
font-size: 12px;
font-weight: 400;
display: grid;
place-items: center;

}
.container
{
background:white;
border-radius: 10px;
width: 800px;
height: 380px;
display: flex;

}
.imgs{
    margin-left: 0px;
    margin-top: 0px;
    border: solid 0px;
    flex: 2;   
    overflow: hidden;
}
.img1{
    position: static;
    z-index: 1;
    margin-left: -300px;
    margin-top: -180px;
}
.img2{
    margin-left: -390px;
    margin-bottom: 120px;
    position: static;
    z-index: 3;
}
.img3{
    margin-left:-100px;
    margin-top: 120px;
    position: absolute;
    z-index: 4;
    
}
.questions{
    flex:2;
    border: solid 0px;
    padding-top: 10px;
    height: auto;
    margin-right: 60px;
    margin-left: 20px;
    
}
.question{
    border-bottom: solid 1px hsl(240, 5%, 91%);
    cursor: pointer;
    color: hsl(238, 29%, 16%);
    padding-top:5px ;
    padding-bottom:5px ;
}
.question span{
    float: right;
}
.question:hover{
    color: hsl(14, 88%, 65%);
}

.answer{display: none;}
.transform{
transform: rotate(180deg);
}
@media screen and (max-width:500px){
    body{
        padding: 10px;
        
        display: grid;
        place-items: center;
        max-width: 500px;
        height: 812px;
    }
    .container{
        width: 300px;
        max-width: 450px;
        margin: 5px;
        margin-top:30px;
        height: auto;
        display: grid;
        place-items: center;
    }
    .imgs{
        margin: 0;
        position: none;
        overflow:unset;
        border: solid 0px;
        width: 300px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        text-align: center;
    }
    .img2,.img3{
        margin: 0;
        position: absolute;
        
    }
    .img1{
        content:url("images/bg-pattern-mobile.svg");
        margin: 0;
        position: static;
        height: 104px;
        width: 240px;
        z-index: 1;
    }
    .img2{
        content:url("images/illustration-woman-online-mobile.svg");
        margin-left: -270px;
        margin-top: -110px;
        width: 266px;
        height: 196px;
        z-index: 3;
        
    }
    .img3{display: none;}
    .questions{
        
        border: solid 0px;
        width: 250px;
        margin: 0;
        padding: 20px;
    }
    .questions h1{text-align: center;}
    
}